#frankDiv {
    width: 256px;
    height: 256px;
    background-image: url("../../resources/rosinstopp.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}