:root {
    --bg-color: #1F1F1F;
    --container-color: #313131;
    --accent-color: #57B3D9;
    --text-color: #FFFFFF;
    --textfieldborder-color: #006927;
    --textfield-color: #00bd16;
    --placeholder-color: #A6A6A6;
    --dark-red: #68170B;
    --orange: #DF3A14;
    --mint: #C2D3C5;
    --dark-green: #508c58;
}

body {
    background: #606c88;
    background: -webkit-radial-gradient(circle, #606c88 0%, #3f4c6b 100%);
    background: radial-gradient(circle, #606c88 0%, #3f4c6b 100%);
    margin: 0;
    padding: 0;
    font-family: 'Signika', sans-serif;
}
  
.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.box {
    display: flex;
    border: none;
    border-radius: 10px;
    padding: 17px;
    margin: 10px;
    width: 900px;
    text-align: center;
    background: radial-gradient(ellipse at top left, var(--dark-red) 77%, transparent 78%), var(--orange);
    background-size: 100% 100%, auto;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.box p {
    margin: 5px 0;
}

  
h1 {
    font-size: 90px;
    margin-bottom: 20px;
    color: var(--mint);
}

.placement {
    font-size: 69px;
    font-weight: bold;
    color: #ffffff;
}

.name {
    font-size: 50px; 
    background-color: var(--container-color); 
    color: #ffffff; 
    padding: 6px 12px; 
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.points {
    font-size: 36px;
    background-color: var(--container-color);
    color: var(--textfield-color);
    padding: 6px 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  