:root {
    --bg-color: #1F1F1F;
    --container-color: #313131;
    --accent-color: #57B3D9;
    --text-color: #FFFFFF;
    --textfieldborder-color: #006927;
    --textfield-color: #00bd16;
    --placeholder-color: #A6A6A6;
    --dark-red: #68170B;
    --orange: #DF3A14;
    --mint: #C2D3C5;
    --dark-green: #508c58;
}

* {
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: 'Signika', sans-serif;
    background: #2E7D32;
    /* background: -webkit-radial-gradient(circle, #2E7D32 0%, #1d6d21 100%); */
    background: radial-gradient(circle, #2E7D32 0%, #0f3811 100%);

    /* background-color: #2E7D32; 
    background-image: linear-gradient(45deg, #155, #155 25%, transparent 25%, transparent 50%, #155 50%, #155 75%, transparent 75%, transparent);
    background-size: 20px 20px; */
}

.main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pokertable {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.row {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.row3 {
    margin-top: 10px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.playerBox {
    background: radial-gradient(circle, #2E7D32 0%, #0f3811 100%);
    border: 4px solid var(--dark-red);
    border-radius: 12px;
    display: flex;
    flex-direction: column-reverse;
}

.placeholder {
    width: 304px;
    height: 233px; /* -62 für 16:9*/
    margin: 20px;
}

.playerInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 2px;
    padding: 1px;
    /* background: radial-gradient(ellipse at top left, var(--dark-red) 77%, transparent 78%), var(--orange);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); */
    border-radius: 12px;
    /* border: 4px solid var(--dark-red); */
    /* background-color: transparent; */
}

.bigBox {
    background-color: #114211; 
    width: 848px;
    height: 365px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;

    position: relative;
    border: 10px solid #723305; /* Dunkelbraune Holzgrenze */
    border-radius: 500px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8); /* Hinzufügen von Schatten für den Holzeffekt */
    background-size: cover;

    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.bottomRow {
    display: flex;
    background-color: #114211;
    padding: 8px;
    align-items: center;
    position: relative;

    border: 10px solid #723305; /* Dunkelbraune Holzgrenze */
    border-radius: 20px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8); /* Hinzufügen von Schatten für den Holzeffekt */
    background-size: cover;
}

.pointsBox, .betBox {
    margin: 0px 30px 0px 30px;
    padding: 8px;
    font-size: 20px;
    color: azure;
    background: radial-gradient(ellipse at top left, var(--dark-red) 77%, transparent 78%), var(--orange);
    border-radius: 10px;
}

.buttonContainer {
    display: flex;
    justify-content: space-evenly;
}

.button {
    padding: 10px 20px;
    margin-right: 10px;
    color: azure;
    
    cursor: pointer;
    border-radius: 5px;
    border: 3px solid #000000;
}

.otherInfo {
    margin: auto;
    
    padding: 8px;
    font-size: 20px;
    color: azure;
    /* background: radial-gradient(ellipse at top left, var(--dark-red) 77%, transparent 78%), var(--orange); */
    background: radial-gradient(circle, var(--dark-red) 0%, #3d0d06 100%);
    border-radius: 10px;
}

#throw {
    background-color: var(--accent-color);
    transition: background-color 0.3s ease;
}

#call {
    background-color: var(--dark-green);
    transition: background-color 0.3s ease;
}

#raise {
    background-color: var(--orange);
    transition: background-color 0.3s ease;
}

#throw:hover {
    background-color: #0056a2;
}
#call:hover {
    background-color: #2b6533;
}
#raise:hover {
    background-color: #96280f;
}

#raise:active {
    background-color: #5a180a; 
    transition: background-color 0s; /* Um die Transition beim Klicken zu deaktivieren */
}
#call:active {
    background-color: #17371c; 
    transition: background-color 0s; /* Um die Transition beim Klicken zu deaktivieren */
}
#throw:active {
    background-color: #00305a; 
    transition: background-color 0s; /* Um die Transition beim Klicken zu deaktivieren */
}

#raiseAmount {
    font-size: x-large;
    font-weight: bold;
    width: 100px;
    border: 3px solid #000000;
    border-radius: 12px;
}

text {
    color: #ffffff; 
}

h2 {
    font-size: 50px;
    color: var(--mint);
    margin: 10px;
}

h3 {
    font-size: 32px;
    color: var(--mint);
    margin: 5px;
}

.tip {
    margin: 5px;
    padding: 10px;
    font-size: 24px;
    color: #34863f;
    background: radial-gradient(ellipse at top left, var(--mint) 87%, transparent 88%), var(--dark-green);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.challenge {
    max-width: 80%;
    margin: 20px 0;
    padding: 10px;
    background: radial-gradient(ellipse at top left, var(--dark-red) 77%, transparent 78%), var(--orange);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.question {
    max-width: 60%;
    margin: 20px 0;
    padding: 10px;
    background: radial-gradient(ellipse at top left, var(--dark-red) 77%, transparent 78%), var(--orange);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cardsInput {
    font-size: 80px;
    font-weight: bold;
    font-family: 'Signika', sans-serif;
    width: 160px;
    border: 3px solid #000000;
    border-radius: 12px;
}

#cardsInputDiv {
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 80px;
    padding-bottom: 80px;
}

#cardsText {
    font-size: 80px;
    font-weight: bold;
    font-family: 'Signika', sans-serif;
    width: 160px;
    border: 6px solid var(--dark-red);
    border-radius: 12px;
    color: #34863f;
    background: radial-gradient(ellipse at top left, var(--mint) 87%, transparent 88%), var(--dark-green);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1.2);
}

.potInfos {
    width: 20%;
    margin: 20px 0;
    padding: 10px;
    /* background: radial-gradient(ellipse at top left, var(--dark-red) 77%, transparent 78%), var(--orange); */
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#potInfo {
    border: 5px solid #723305;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
    background: radial-gradient(circle, #ffd700 0%, #B8860B 100%);
    padding: 10px;
    color: #191919;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Signika', sans-serif;
}

#challengeInfo {
    border: 5px solid #723305;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
    background: radial-gradient(circle, var(--textfield-color) 0%, var(--textfieldborder-color) 100%);
    padding: 10px;
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Signika', sans-serif;
}